*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row::after{
    content: '';
    display: table;
    clear: both;
}

.contenitore{
    max-width: 1170px;
    margin: 10px auto;
}


.contenitore>.row{
    height: 150px;
    text-align: center;
    background-color: #ffc0cb;
}  

.row [class*="col-"]{
    height: 100%;
    border: 1px solid black;
    line-height: 150px;
    float: left;
}

[class*="col-"]> .row [class*="col-"]{
    border: 1px solid white;
    background-color: #f07f80;
    line-height: 130px;
}

.row .col-6 .row{
    padding: 10px;
    height: 100%;
}
