*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row::after{
    content: '';
    display: table;
    clear: both;
}

.row .row::after{
    content: '';
    display: table;
    clear: both;
}

.contenitore{
    max-width: 1170px;
    margin: 10px auto;
}

.row{
    text-align: center;
    height: 100px;
}

.row [class*="col-"]{
    height: 100%;
    border: 1px solid black;
    line-height: 100px;
    float: left;
}

.row:last-child .col-6{
    padding: 10px;
}

.row:last-child .col-6 [class*="col-"]{
    border: none;
    background-color: rgba(240, 51, 86, 0.664);
    line-height: 80px;
    margin: auto;
}