*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row::after{
    content: '';
    display: table;
    clear: both;
}

.row .row::after{
    content: '';
    display: table;
    clear: both;
}

.contenitore{
    max-width: 1170px;
    margin: 10px auto;
}

.row{
    text-align: center;
    height: 100px;
}

.row [class*="col-"]{
    height: 100%;
    border: 1px solid black;
    line-height: 100px;
    float: left;
}

.row .row [class*="col-"]{
    height: 100%;
    border: 1px solid white;
    float: left;
    background-color: pink;
    line-height: 80px;
}

.row .row{
    padding: 10px;
}
